table tr td{
	border: 1px solid black; /* borda da tabela */
}

table{
	width: 80%; /* largura da tabela */
	margin: auto; /* alinhamento centralizado da tabela */
}

button{
	color: #34e8eb; /* cor da fonte do botão */
	background-color: #33166b; /* cor de fundo do botão */
	font-size: 25px; /* tamanho da fonte */
	border-radius: 20px; /* arredonda os cantos */
	margin-top: 50px; /* margem do topo */
	margin-bottom: 50px; /* margem inferior */
	margin-left: 20px; /* margem a esquerda */
	margin-right: 50px; /* margem a direita */

	/* margin: 50px 50px 20px 50px; 1 valor: topo 2 valor: direito 3 valor: embaixo 4 valor: esquerdo */

	padding-top: 20px; /* margem interna topo */
	padding-bottom: 20px; /* margem interna inferior */
	padding-left: 20px; /* margem interna esquerda */
	padding-right: 20px; /* margem interna direita */
}

	h1{
		color: #3275a8;
		font-size: 50px;
		font-family: 'Ravie';

	}
	p{
		color: #3275a8;
		font-size: 30px;
		font-family: 'Ravie';
	}

}